/* src/components/CommentsItem.css */
.comments__container {
    margin-top: 1rem;
    width: 100%;
}

.comments__empty-message {
    font-style: italic;
    color: #777;
}

.comment__item {
    border-top: 1px solid #eee;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
}


.comment__date {
    font-size: 0.75rem;
    color: #999;
}