.app__container {
    display: flex;
    flex-direction: column;
    /* This is crucial: make it take up the full screen height */
    height: 100vh;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 1rem;
}

.content__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 2rem;
    max-width: 100%;
    margin: 2rem auto;
    padding: 0 2rem;
    flex-grow: 1;
    overflow: auto;
}


/* Make each of the inner columns independently scrollable */
.feed {
    overflow-y: auto;
    /* Optional: Hide scrollbar in some browsers */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for WebKit browsers */

.feed::-webkit-scrollbar,
.sidebar-right::-webkit-scrollbar {
    display: none;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feed{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}